import React from "react";
import styles from "./{{pascalCase name}}.module.scss";

export const {{pascalCase name}} = () => (
  <React.Fragment>
    <div className={ styles.{{pascalCase name}} }>
      
    </div>
  </React.Fragment>
);