@import "src/sass/variables";

.nav {
    width: 100%;
    height: 70px;
    background: url("/assets/nav/header_gradient.png") repeat-x;
    position: fixed;
    z-index: 4;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 20px;

    ol{
        list-style: none;
    }

    .logo-menu-wrapper {
        display: flex;
    }
    .image-wrapper {
        min-width: 24px;
        margin-right: 20px !important;
    }
    .logo {
        width: 84px;
        height: 24px;
        text-decoration: none;
        font-size: 1.43em;
        color: #e50914;
        &::before {
            font-family: "nf-icon";
            line-height: 1;
            content: "\e5d0";
        }
    }
    .navigation-slider {
        top: 50px;
        position: fixed;
        left: -250px;
        bottom: 0;
        width: 250px;
        transform: translateX(-250px);
        transition: transform 150ms cubic-bezier(0.5, 0, 0.1, 1);
        background: #000;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .navigation-slider-background {
        display: none;
        position: fixed;
        left: 0;
        top: 50px;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
        overflow: hidden;
    }

    .slide-open {
        transform: translateX(250px);
    }

    .navigation-slider-settings {
        color: grey;
        font-weight: 700;
        padding: 10px 0;
        border-bottom: 1px solid #333;
        margin-bottom: 5px;
        li{
            margin-bottom: 10px;
            padding-left: 17px;
        }
        .navigation-slide-profile {
            display: flex;
            align-items: center;
            .navigation-slide-profile-avatar {
                display: inline-block;
                vertical-align: middle;
                height: 32px;
                width: 32px;
            }
            .navigation-slide-profile-link {
                display: inline-block;
                margin-left: 8px;
                span{
                    display: block;
                }
            }
            .navigation-slide-profile-change {
                font-size: .7em;
                font-weight: 400;
            }
        }
    }

    .navigation-search-input {
        font-size: 12px;
        padding: 8px 0.5em;
        width: 114px;
        height: 28.67px;
        font-size: 1rem;
        background: transparent
            url(https://assets.nflxext.com/ffe/siteui/akira/fallback/secondary_button_hover_background.png)
            repeat;
        border: 1px solid #ccc;
        color: #ccc;
    }
    @media (min-width: $breakpoint-tablet) {
        @import "Nav-tablet.module.scss";
    }

    @media (min-width: $breakpoint-desktop) {
        @import "Nav-desktop.module.scss";
    }
}
